<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bearded Reviewers</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

    <h1>Welcome To The Bearded Reviewers!</h1>
      <nav>
        <h3><a href="/">Homepage</a></h3>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <h3><a href="/profile">Profile</a></h3>
        <button class="no-button btn btn-primary" id="logout">Logout</button>
        {{else}}
        <h3><a href="/login">Login</a></h3>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
     <a href="https://www.freepnglogos.com/pics/beard" title="Image from freepnglogos.com"><img src="https://www.freepnglogos.com/uploads/beard/beard-clipart-pin-rico-rey-beard-life-pinterest-nice-beard-25.jpg" width="80" height = "auto" alt="beard clipart, pin rico rey beard life pinterest nice beard" /></a>
     <a href="https://www.freepnglogos.com/pics/beard">Beard from freepnglogos.com</a> 
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>


</html>
