<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Bearded Reviewers</title>
  <link rel="stylesheet" href="../../public/css/jass.css">
  <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <img src="../../public/images/BeardIcon.jpg" alt="Bearded Reviewer"/>
      <h1>
        <a href="/">BEARDED|REVIEWER</a>
      </h1>
      <nav>
        <h3><a href="/">Homepage</a></h3>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <h3><a href="/TheBeardedReviewers/views/profile.handlebars">Profile</a></h3> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <h3><a href="/TheBeardedReviewers/views/login.handlebars">Login</a></h3>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
</body>

</html>
