
<head>
    <meta charset="UTF-8">
    <title>The Bearded Review</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="flex-column-justify-space-around">
        <header class="display-flex justify-space-between align-center">
            <h1>Welcome to the Bearded Reviews</h1>
        </header>
    </div>
    <div class="card-header col-md-l">
        <h2>
            Meet the Reviewers
        </h2>
    </div>
        <div>
            <ol>
                <li>
                    Keith Gray
                </li>
                <li>
                    Tyler Poepping
                </li>
                <li>
                    Justin Hollis
                </li>
            </ol>
        </div>
        <div>
            <h3>
                Our Latest Review
            </h3>
        </div>
</body>
