<div class="row">
    <div class="col-md-5">
        <h2>Login</h2>

        <form class="form login-form">
            <div class="form-group">
                <label for="email-login">email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-login">password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">login</button>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <h2>Signup</h2>

        <form class="form signup-form">
            <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
                <label for="name-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="text" id="password-signup" />
            </div>
            <div class="form-group">
                <label for="beard-selection">What kind of facial hair do you have?</label>
                <select id="facial-hair" name="facial-hair">
                    <option value="full">Full Beard</option>
                    <option value="circle">Circle Beard</option>
                    <option value="goatee">Goatee</option>
                    <option value="royale">Royale Beard</option>
                    <option value="van dyke">Van Dyke</option>
                    <option value="short boxed">Short Boxed</option>
                    <option value="stubble">Stubble Beard</option>
                    <option value="chevron">Chevron Mustache</option>
                    <option value="horseshoe">Horseshoe Mustache</option>
                    <option value="mutton chops">Mutton Chops</option>
                    <option value="chin">Chin Strap</option>
                    <option value="none">No facial hair</option>
                </select>
            </div>
        </form>
    </div>
</div>