<div class="text-center review-desc">
    <h2>{{name}}</h2>
    <p>{{review_description}}</p>
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <p>
    </p>
</div>


<script src="../models/Review.js"></script>
<script src="../models/User.js"></script>