body {
   background: url("https://wallpapercave.com/wp/wp2140482.jpg"); 
   background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20vh;
    width: 100;
}

header h1 {
    background-color: aqua;
    padding: .7em;
}

nav {
    display: flex;
    flex-direction: column;
}

nav h3 a {
    justify-content: space-around;
    color: black;
}

.title {
    color: black;
}

.post {
    margin-top: 55px;
    background-color: gray;
}

#email-login {
    color: black;
}

#password-login {
    color: black;
}